@model IEnumerable<SzkolenieTechniczne.Projekt.Domain.Query.DTO.MovieDto>

@{
    ViewData["Title"] = "Filmy";
}

<h2>Filmy</h2>


<div>
    <table class="table">
        <thead class="tab-pane">
        <tr>
            <th></th>
            <th>
                <a class="btn btn-outline-success float-right" asp-action="Add">Dodaj nowy</a>
            </th>
        </tr>
        </thead>
        @if (Model.Any())
        {
            <tbody class="tab-content">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        <div class="d-inline-flex float-right">
                            <a class="text-warning btn btn-link" asp-controller="Seance" asp-action="Index" asp-route-id="@item.Id.Value">
                                <i class="fas fa-pen-square">Zobacz seanse</i>
                            </a>
                        </div>
                    </td>

                    <td>
                        <a class="btn btn-link text-secondary float-right" asp-action="Edit" asp-route-id="@item.Id.Value">Edytuj</a>
                    </td>
                    <td>
                        <form method="post" asp-action="Delete" asp-route-id="@item.Id.Value">
                            <button type="submit" class="btn btn-link text-danger float-right">Usuń</button>
                        </form>
                    </td>
                </tr>
            }
            </tbody>
        }
        else
        {
            <p>Brak filmów</p>
        }
    </table>
</div>